/** {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
}*/
@media print {
    * {
        -webkit-print-color-adjust: exact !important;
    }

    body {
        height: auto !important;
        overflow: auto !important;
    }

    .strut-surface {
      height: auto !important;
      position: static !important;
      /*overflow: auto !important;*/
    }
}
@page {
    width: landscape;
    height: landscape;
    margin: 0;
}
@media print {
    article.bespoke-parent {
        overflow: visible !important;
        position: static !important;
        height: auto !important;
    }
}
@media print {
    .bespoke-slide {
        zoom: 1 !important;
        height: 743px !important;
        width: 1054px !important;
        left: 0 !important;
        page-break-before: always !important;
        position: relative !important;
        margin: 0 !important;
        opacity: 1 !important;
        background-color: #fff;
    }
}
@media print {
    .bespoke-after {
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -o-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
    }
}
@media print {
    .bespoke-inactive {
        opacity: 1 !important;
        -ms-filter: none !important;
        filter: none !important;
    }
}
@media print {
    .bespoke-scale-parent {
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -o-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
    }
}
